.about-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.9)), url("../images/About/Pastelaria.jpg");
    height: 520px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgb(228, 208, 172);
    text-align: center;
    color: black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-section h1{
    text-align: center;
    line-height: 38px;
}

.about-section p {
    text-align: center; 
    font-weight: 1000;
}

/*Grid section*/

.dual-photo-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    justify-items: center;
}

.about-photo-1 {
    background-image: url('../images/About/largo-antigo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.about-photo-2 {
    background-image: url('../images/About/largo-quadro.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.okdizem{
    background-color: rgb(201, 201, 201);
    text-align: center;
    color: black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}




