.contacts-hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
         rgba(0, 0, 0, 0.9)), url("../images/lafora2.jpg");
    height: 520px;
    display: flex;
    justify-content: center;
}

.contacts-hero-text{
    align-self: center;
    font-family: 'Great Vibes', cursive;
    font-size: 140px;
    color: white;
}

.contacts-grid{
    width: auto;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 140px;
    padding-left: 140px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 600px 400px;
}

.contacts-grid h1{
    text-align: center;
}

.contacts-grid-1{
    padding-left : 40px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid rgb(228, 208, 172);
}

.contacts-grid-2{
    background-image: url('../images/Contacts/la-fora-contactos.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 20px;
}

.contacts-grid-3{
    background-image: url('../images/Contacts/la-fora-contacts2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 20px;
}

.contacts-grid-4{
    background-image: url('../images/Contacts/door-contacts.jpg');
    background-position-y: -150px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 20px;
}