.footer{
    max-height: 240px;
    width: 100%;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: space-between;
    text-align: left;
}

.footer h1{
    text-align: center;
}

.footer-box1{
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    max-height: 240px;
    padding-left: 140px;
    justify-content: flex-start;
}

.footer-box1 h1{
    font-weight: lighter;
    
}

.footer-box1 p{
    font-size: 20px;
    line-height: 22px;
}

.footer-box2{
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    max-height: 240px;
    justify-content: center;
}

.footer-box2 h1{
    font-weight: lighter;
}

.footer-box2 p{
    font-size: 20px;
    line-height: 22px;
}


.footer-box3{
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    max-height: 240px;
    padding-right: 140px;
    justify-content: flex-end;
}

.footer-box3 h1{
    font-weight: lighter;
}

.icons-social{
    text-align: center;
    font-size: 42px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#face-icon:hover{
    color: rgb(228, 208, 172);
    cursor: pointer;
}

#trip-icon:hover{
    color: rgb(228, 208, 172) ;
    cursor: pointer;
}

