.footer{
    height: 240px;
    width: 100%;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}


.footer-box1{
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    max-height: 240px;
    padding-left: 140px;
    justify-content: flex-start;
}

.footer-box1 h1{
    font-weight: lighter;
}

.footer-box2{
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    max-height: 240px;
    justify-content: center;
}

.footer-box2 h1{
    font-weight: lighter;
}


.footer-box3{
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    max-height: 240px;
    padding-right: 140px;
    justify-content: flex-end;
}

.footer-box3 h1{
    font-weight: lighter;
}