.homepage-hero {
    background-image: url('../images/Homepage/homepage-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}

.homepage-hero-text {
    color: white;
    padding-left: 140px;
    padding-top: 100px;
}

.homepage-hero-title {
    font-size: 64px;
    font-weight: lighter;
    font-family: 'Great Vibes', cursive;
}

.homepage-hero-subtitle {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Raleway', sans-serif;
}

.homepage-hero-subtitle2 {
    font-size: 28px;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
}

.general-button {
    text-align: center;
    border: 1px solid rgb(228, 208, 172);
    background-color: rgb(228, 208, 172);
    border-radius: 50px;
    height: 60px;
    width: 220px;
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Raleway', sans-serif;
}

.general-button:hover{
    cursor: pointer;
}

/*Welcome Section*/

.welcome {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(228, 208, 172);
    font-weight: 1000;
    text-align: center;
    color: black;
}

.welcome-title {
    font-family: 'Great Vibes', cursive;
}

.welcome-subtitle {
    font-family: 'Raleway', sans-serif;
}

/*Grid Section*/

.homepage-grid-container {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px 500px;
    font-family: 'Raleway', sans-serif;
}

.homepage-box1 {
    padding: 100px;
    padding-left: 140px;
}

.homepage-box2 {
    background-image: url('../images/Homepage/maquinaCafe.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.homepage-box3 {
    background-image: url('../images/Homepage/pastelNata.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.homepage-box4 {
    padding: 100px;
    padding-right: 140px;
}

.homepage-box5 {
    padding: 100px;
    padding-left: 140px;
}

.homepage-box6 {
    background-image: url('../images/Homepage/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}