.navbar-logo {
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    align-items: center;
}

nav {
    height: 120px;
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    gap: 700px;
    justify-content: center;
    background-color: black;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

a:hover{
    color:orange; 
}

ul {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

li {
    list-style-type: none;
    display: inline-flex;
}

li:hover{
    transform: scale(108%);
}




