nav {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    align-items: center;
}

.navbar-logo {
    color: white;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    flex: 50%;
    max-height: 120px;
    padding-left: 140px;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
    
}

a:hover{
    color:rgb(228, 208, 172);; 
}

ul {
    display: flex;
    flex: 50%;
    gap: 40px;
    font-size: 20px;
    justify-content: flex-end;
    max-height: 120px;
    padding-right: 140px;
}

li {
    list-style-type: none;
    display: inline-flex;
}

li:hover{
    transform: scale(108%);
}




