.encomendar-hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
         rgba(0, 0, 0, 0.9)), url("../images/makecake.jpg");
    height: 520px;
    display: flex;
    justify-content: center;
}

.encomendar-hero-text{
    align-self: center;
    font-family: 'Great Vibes', cursive;
    font-size: 140px;
    color: white;
}

.encomendar-section{
    background-color: rgb(226, 211, 182);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.encomendar-section p{
    background-color: rgb(226, 211, 182);
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 62px;
    width: 100%;
    
}

.encomendar-container {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 50% auto;
    grid-template-rows: 800px;
    background-color: rgb(255, 255, 255);
}

.encomendar-image{
    background-image: url('../images/OrderCakes/paodelo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.encomendar-form-container{
    align-items: center;
    justify-content: center;
    padding-right: 140px;
}

.form-inline{
    outline-style: solid;
    margin: 100px;
    padding: 40px;
    color: black;
}

label {
    display: flex;
    gap: 18px;
    align-items: center;
    height: 60px;
}

input {
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

