.encomendar-hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
         rgba(0, 0, 0, 0.9)), url("../images/OrderCakes/encomendar-hero.jpg");
    height: 520px;
    display: flex;
    justify-content: center;
}

.encomendar-hero-text{
    align-self: center;
    font-family: 'Great Vibes', cursive;
    font-size: 140px;
    color: white;
}

.encomendar-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgb(228, 208, 172);
    text-align: center;
    color: black;
    width: auto;
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.encomendar-section h1{
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 52px;
    width: 100%;
}

.encomendar-section p{
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 52px;
    width: 100%;
}

.encomendar-container {
    display: grid;
    width: auto;
    gap: 80px;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-columns: 40% auto;
    grid-template-rows: max-content;
    background-color: rgb(255, 255, 255);
}

.encomendar-image{
    background-image: url('../images/OrderCakes/paodelo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.encomendar-form-container{
    align-items: center;
    justify-content: center;
}

form{
    display: grid;
    width: auto;
    grid-template-columns: 50% auto;
    grid-template-rows: 140px 140px 140px 140px 140px 140px 140px;
}

label{
    width: fit-content;
    
    text-align: center;
    align-self:end;
}

input {
    text-align: center;
    border: 1px solid rgb(228, 208, 172);
    height: 48px;
    width: 320px;
    font-size: 17px;
    font-weight: 1000;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 20px;
}

#order-button{
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: rgb(228, 208, 172);
}

select{
    text-align: center;
    border: 1px solid rgb(228, 208, 172);
    height: 48px;
    width: 320px;
    font-size: 17px;
    font-weight: 1000;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 20px;
}



